.spollers {
	border-bottom: 1px solid var(--light-gray-color);

	&__item {
		border-top: 1px solid var(--light-gray-color);
		padding: 30px 0;
		background-color: transparent;

		&:last-child {
			margin-bottom: 0;
		}

		@media (max-width: 480px) {
			padding-top: 20px;
		}
	}

	&__title {
		@include adaptive-font(18, 16);
		position: relative;
		padding: 0 40px 0 0;
		width: 100%;
		font-weight: 500;
		text-align: left;
		text-transform: uppercase;
	}

	&__text {
		padding-top: 20px;

		@media (max-width: 480px) {
			padding-top: 15px;
		}
	}

	&__control {
		position: absolute;
		left: -30px;
		top: 50%;
		width: 25px;
		height: 25px;
		transform: translateY(-50%);

		@media (max-width: 992px) {
			left: unset;
			right: 0;
		}
	}

	&.init &__control::before,
	&.init &__control::after {
		content: '';
		position: absolute;
		left: 50%;
		top: 50%;
		background-color: var(--dark-color);
		transform: translate(-50%, -50%);
		transition: all 0.3s ease 0s;
	}

	&.init &__control::before {
		width: 11px;
		height: 2px;
	}

	&.init &__control::after {
		width: 2px;
		height: 12px;
	}

	&.init &__title.active &__control::after {
		top: 29%;
		transform: rotate(-90deg);
	}

	// &.init .spollers__title::before,
	// &.init .spollers__title::after {
	// 	content: '';
	// 	position: absolute;
	// 	left: -30px;
	// 	top: 50%;
	// 	width: 11px;
	// 	height: 2px;
	// 	background-color: var(--dark-color);
	// 	transform: translateY(-50%);
	// 	transition: transform 0.3s ease 0s;

	// 	@media (max-width: 992px) {
	// 		left: unset;
	// 		right: 0;
	// 	}
	// }

	// &.init .spollers__title::after {
	// 	transform: rotate(-90deg);
	// }

	// &.init .spollers__title.active::after {
	// 	transform: rotate(0deg);
	// }
}
