.spollers {
	&__item {
		border-top: 1px solid var(--light-gray-color);
		padding: 30px 0;
		background-color: transparent;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__title {
		@include adaptive-font(18, 16);
		position: relative;
		width: 100%;
		font-weight: 500;
		line-height: 20px;
		text-align: left;
		text-transform: uppercase;
		color: var(--dark-color);
	}

	&__text {
		line-height: 130%;
		line-height: 20px;
		color: var(--dark-color);
	}

	&.init .spollers__title {
		padding: 10px 40px 10px 0;
	}

	&.init .spollers__title::before,
	&.init .spollers__title::after {
		content: '';
		position: absolute;
		right: 10px;
		top: 20px;
		width: 15px;
		height: 2px;
		background-color: var(--dark-color);
		transition: transform 0.3s ease 0s;
	}

	&.init .spollers__title::after {
		transform: rotate(-90deg);
	}

	&.init .spollers__title.active::after {
		transform: rotate(0deg);
	}
}
