<div class="questions__spollers spollers" data-spollers data-one-spoller>
	<div class="spollers__item">
		<button class="spollers__title btn-reset" type="button" tabindex="-1" data-spoller>
			<span>
				Как происходит оплата?
			</span>
		</button>
		<div class="spollers__text text">
			Мы работаем с полной предоплатой строительных материалов и частичной предоплатой работ. Каждый этап работ сдаем по
			акту
			сдачи и выставляем счет на его оплату.
		</div>
	</div>
	<div class="spollers__item">
		<button class="spollers__title btn-reset" type="button" tabindex="-1" data-spoller>
			<span>
				Сколько стоят ваши услуги?
			</span>
		</button>
		<div class="spollers__text text">
			Мы не оцениваем работу общей суммой или по площади, у нас есть подробный прайс на работы и на каждый проект
			мы составляем подробную, индивидуальную смету.
			<br>
			<br>
			Вот примеры стоимости работ дизайнерского ремонта за прошлый год:
			<ul class="spollers__list spollers-list list-reset">
				<li class="spollers-list__item">
					Коттеджи 120–200м2–1.5–2 млн ₽;
				</li>
				<li class="spollers-list__item">
					Квартиры 65–115м2–1-1,5 млн ₽;
				</li>
				<li class="spollers-list__item">
					Студии и небольшие квартиры 28–64 м2–450–950 тыс. ₽
				</li>
			</ul>
		</div>
	</div>
	<div class="spollers__item">
		<button class="spollers__title btn-reset" type="button" tabindex="-1" data-spoller>
			<span>
				Я живу не в Новосибирске, вы работаете в других городах или на выезде?
			</span>
		</button>
		<div class="spollers__text text">
			По нашему прайсу мы работаем только там, где живём — в Новосибирске и Кемерово. Работа в других городах возможна,
			при оплате командировочных расходов и еженедельных транспортных расходов на поездки домой.
		</div>
	</div>
</div>