.swiper {
	padding-bottom: 30px;
}

.slider-wrap {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: auto;
}

.swiper__pagination {
	position: absolute;
	bottom: 0 !important;
	z-index: 10;
	width: 100%;
	text-align: center;
	transform: translate3d(0, 0, 0);
	transition: 0.3s opacity;

	&-num {
		margin-right: 14px;
		color: var(--light-gray-color);
		cursor: pointer;

		&:last-child {
			margin-right: 0;
		}

		&.swiper-pagination-bullet-active {
			color: var(--dark-color);
			background: none;
		}
	}
}
