<div class="slider-wrap">
	<div class="swiper">
		<div class="swiper-wrapper">

			<div class="swiper-slide">
				<div class="minimalism-projects__wrap">
					<div class="minimalism-projects__images">
						<picture>
							<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-1.webp">
							<img class="minimalism-projects__image lazyload" alt="Фото интерьера"
								data-src="@img/minimalism-projects/minimalism-projects-img-1.jpg">
						</picture>
						<div class="minimalism-projects__inner">
							<span class="minimalism-projects__text">
								ул. Кирова 32
							</span>
							<picture>
								<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-2.webp">
								<img class="minimalism-projects__image lazyload" alt="Фото интерьера"
									data-src="@img/minimalism-projects/minimalism-projects-img-2.jpg">
							</picture>
						</div>
					</div>
					<div class="minimalism-projects__images">
						<picture>
							<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-3.webp">
							<img class="minimalism-projects__image lazyload" alt="Фото интерьера"
								data-src="@img/minimalism-projects/minimalism-projects-img-3.jpg">
						</picture>
						<picture>
							<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-4.webp">
							<img class="minimalism-projects__image lazyload" alt="Фото интерьера"
								data-src="@img/minimalism-projects/minimalism-projects-img-4.jpg">
						</picture>
					</div>
				</div>
			</div>

		</div>
		<div class="swiper__pagination"></div>
	</div>
</div>