<div class="slider-wrap">
	<div class="swiper">
		<div class="swiper-wrapper">

			<div class="swiper-slide">
				<div class="minimalism-projects__wrap">
					<div class="minimalism-projects__images">
						<picture>
							<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-1.webp">
							<img class="minimalism-projects__image lazyload" alt="Фото интерьера"
								data-src="@img/minimalism-projects/minimalism-projects-img-1.jpg">
						</picture>
						<div class="minimalism-projects__inner">

							<picture>
								<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-2.webp">
								<img class="minimalism-projects__image minimalism-projects__image--height lazyload" alt="Фото интерьера"
									data-src="@img/minimalism-projects/minimalism-projects-img-2.jpg">
							</picture>
						</div>
					</div>
					<div class="minimalism-projects__images">
						<picture>
							<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-3.webp">
							<img class="minimalism-projects__image minimalism-projects__image--height lazyload" alt="Фото интерьера"
								data-src="@img/minimalism-projects/minimalism-projects-img-3.jpg">
						</picture>
						<picture>
							<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-4.webp">
							<img class="minimalism-projects__image lazyload" alt="Фото интерьера"
								data-src="@img/minimalism-projects/minimalism-projects-img-4.jpg">
						</picture>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="minimalism-projects__wrap">
					<div class="minimalism-projects__images">
						<picture>
							<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-5.webp">
							<img class="minimalism-projects__image lazyload" alt="Фото интерьера"
								data-src="@img/minimalism-projects/minimalism-projects-img-5.jpg">
						</picture>
						<div class="minimalism-projects__inner">

							<picture>
								<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-6.webp">
								<img class="minimalism-projects__image minimalism-projects__image--height lazyload" alt="Фото интерьера"
									data-src="@img/minimalism-projects/minimalism-projects-img-6.jpg">
							</picture>
						</div>
					</div>
					<div class="minimalism-projects__images">
						<picture>
							<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-7.webp">
							<img class="minimalism-projects__image minimalism-projects__image--height lazyload" alt="Фото интерьера"
								data-src="@img/minimalism-projects/minimalism-projects-img-7.jpg">
						</picture>
						<picture>
							<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-8.webp">
							<img class="minimalism-projects__image lazyload" alt="Фото интерьера"
								data-src="@img/minimalism-projects/minimalism-projects-img-8.jpg">
						</picture>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="minimalism-projects__wrap">
					<div class="minimalism-projects__images">
						<picture>
							<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-9.webp">
							<img class="minimalism-projects__image lazyload" alt="Фото интерьера"
								data-src="@img/minimalism-projects/minimalism-projects-img-9.jpg">
						</picture>
						<div class="minimalism-projects__inner">

							<picture>
								<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-10.webp">
								<img class="minimalism-projects__image minimalism-projects__image--height lazyload" alt="Фото интерьера"
									data-src="@img/minimalism-projects/minimalism-projects-img-10.jpg">
							</picture>
						</div>
					</div>
					<div class="minimalism-projects__images">
						<picture>
							<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-11.webp">
							<img class="minimalism-projects__image minimalism-projects__image--height lazyload" alt="Фото интерьера"
								data-src="@img/minimalism-projects/minimalism-projects-img-11.jpg">
						</picture>
						<picture>
							<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-12.webp">
							<img class="minimalism-projects__image lazyload" alt="Фото интерьера"
								data-src="@img/minimalism-projects/minimalism-projects-img-12.jpg">
						</picture>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="minimalism-projects__wrap">
					<div class="minimalism-projects__images">
						<picture>
							<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-13.webp">
							<img class="minimalism-projects__image lazyload" alt="Фото интерьера"
								data-src="@img/minimalism-projects/minimalism-projects-img-13.jpg">
						</picture>
						<div class="minimalism-projects__inner">

							<picture>
								<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-14.webp">
								<img class="minimalism-projects__image minimalism-projects__image--height lazyload" alt="Фото интерьера"
									data-src="@img/minimalism-projects/minimalism-projects-img-14.jpg">
							</picture>
						</div>
					</div>
					<div class="minimalism-projects__images">
						<picture>
							<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-15.webp">
							<img class="minimalism-projects__image minimalism-projects__image--height lazyload" alt="Фото интерьера"
								data-src="@img/minimalism-projects/minimalism-projects-img-15.jpg">
						</picture>
						<picture>
							<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-16.webp">
							<img class="minimalism-projects__image lazyload" alt="Фото интерьера"
								data-src="@img/minimalism-projects/minimalism-projects-img-16.jpg">
						</picture>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="minimalism-projects__wrap">
					<div class="minimalism-projects__images">
						<picture>
							<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-17.webp">
							<img class="minimalism-projects__image lazyload" alt="Фото интерьера"
								data-src="@img/minimalism-projects/minimalism-projects-img-17.jpg">
						</picture>
						<div class="minimalism-projects__inner">

							<picture>
								<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-18.webp">
								<img class="minimalism-projects__image minimalism-projects__image--height lazyload" alt="Фото интерьера"
									data-src="@img/minimalism-projects/minimalism-projects-img-18.jpg">
							</picture>
						</div>
					</div>
					<div class="minimalism-projects__images">
						<picture>
							<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-19.webp">
							<img class="minimalism-projects__image minimalism-projects__image--height lazyload" alt="Фото интерьера"
								data-src="@img/minimalism-projects/minimalism-projects-img-19.jpg">
						</picture>
						<picture>
							<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-20.webp">
							<img class="minimalism-projects__image lazyload" alt="Фото интерьера"
								data-src="@img/minimalism-projects/minimalism-projects-img-20.jpg">
						</picture>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="minimalism-projects__wrap">
					<div class="minimalism-projects__images">
						<picture>
							<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-21.webp">
							<img class="minimalism-projects__image lazyload" alt="Фото интерьера"
								data-src="@img/minimalism-projects/minimalism-projects-img-21.jpg">
						</picture>
						<div class="minimalism-projects__inner">

							<picture>
								<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-22.webp">
								<img class="minimalism-projects__image minimalism-projects__image--height lazyload" alt="Фото интерьера"
									data-src="@img/minimalism-projects/minimalism-projects-img-22.jpg">
							</picture>
						</div>
					</div>
					<div class="minimalism-projects__images">
						<picture>
							<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-23.webp">
							<img class="minimalism-projects__image minimalism-projects__image--height lazyload" alt="Фото интерьера"
								data-src="@img/minimalism-projects/minimalism-projects-img-23.jpg">
						</picture>
						<picture>
							<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-24.webp">
							<img class="minimalism-projects__image lazyload" alt="Фото интерьера"
								data-src="@img/minimalism-projects/minimalism-projects-img-24.jpg">
						</picture>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="minimalism-projects__wrap">
					<div class="minimalism-projects__images">
						<picture>
							<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-25.webp">
							<img class="minimalism-projects__image lazyload" alt="Фото интерьера"
								data-src="@img/minimalism-projects/minimalism-projects-img-25.jpg">
						</picture>
						<div class="minimalism-projects__inner">

							<picture>
								<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-26.webp">
								<img class="minimalism-projects__image minimalism-projects__image--height lazyload" alt="Фото интерьера"
									data-src="@img/minimalism-projects/minimalism-projects-img-26.jpg">
							</picture>
						</div>
					</div>
					<div class="minimalism-projects__images">
						<picture>
							<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-27.webp">
							<img class="minimalism-projects__image minimalism-projects__image--height lazyload" alt="Фото интерьера"
								data-src="@img/minimalism-projects/minimalism-projects-img-27.jpg">
						</picture>
						<picture>
							<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-28.webp">
							<img class="minimalism-projects__image lazyload" alt="Фото интерьера"
								data-src="@img/minimalism-projects/minimalism-projects-img-28.jpg">
						</picture>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="minimalism-projects__wrap">
					<div class="minimalism-projects__images">
						<picture>
							<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-29.webp">
							<img class="minimalism-projects__image lazyload" alt="Фото интерьера"
								data-src="@img/minimalism-projects/minimalism-projects-img-29.jpg">
						</picture>
						<div class="minimalism-projects__inner">

							<picture>
								<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-30.webp">
								<img class="minimalism-projects__image minimalism-projects__image--height lazyload" alt="Фото интерьера"
									data-src="@img/minimalism-projects/minimalism-projects-img-30.jpg">
							</picture>
						</div>
					</div>
					<div class="minimalism-projects__images">
						<picture>
							<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-31.webp">
							<img class="minimalism-projects__image minimalism-projects__image--height lazyload" alt="Фото интерьера"
								data-src="@img/minimalism-projects/minimalism-projects-img-31.jpg">
						</picture>
						<picture>
							<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-32.webp">
							<img class="minimalism-projects__image lazyload" alt="Фото интерьера"
								data-src="@img/minimalism-projects/minimalism-projects-img-32.jpg">
						</picture>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="minimalism-projects__wrap">
					<div class="minimalism-projects__images">
						<picture>
							<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-33.webp">
							<img class="minimalism-projects__image lazyload" alt="Фото интерьера"
								data-src="@img/minimalism-projects/minimalism-projects-img-33.jpg">
						</picture>
						<div class="minimalism-projects__inner">

							<picture>
								<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-34.webp">
								<img class="minimalism-projects__image minimalism-projects__image--height lazyload" alt="Фото интерьера"
									data-src="@img/minimalism-projects/minimalism-projects-img-34.jpg">
							</picture>
						</div>
					</div>
					<div class="minimalism-projects__images">
						<picture>
							<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-35.webp">
							<img class="minimalism-projects__image minimalism-projects__image--height lazyload" alt="Фото интерьера"
								data-src="@img/minimalism-projects/minimalism-projects-img-35.jpg">
						</picture>
						<picture>
							<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-36.webp">
							<img class="minimalism-projects__image lazyload" alt="Фото интерьера"
								data-src="@img/minimalism-projects/minimalism-projects-img-36.jpg">
						</picture>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="minimalism-projects__wrap">
					<div class="minimalism-projects__images">
						<picture>
							<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-37.webp">
							<img class="minimalism-projects__image lazyload" alt="Фото интерьера"
								data-src="@img/minimalism-projects/minimalism-projects-img-37.jpg">
						</picture>
						<div class="minimalism-projects__inner">

							<picture>
								<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-38.webp">
								<img class="minimalism-projects__image minimalism-projects__image--height lazyload" alt="Фото интерьера"
									data-src="@img/minimalism-projects/minimalism-projects-img-38.jpg">
							</picture>
						</div>
					</div>
					<div class="minimalism-projects__images">
						<picture>
							<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-39.webp">
							<img class="minimalism-projects__image minimalism-projects__image--height lazyload" alt="Фото интерьера"
								data-src="@img/minimalism-projects/minimalism-projects-img-39.jpg">
						</picture>
						<picture>
							<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-40.webp">
							<img class="minimalism-projects__image lazyload" alt="Фото интерьера"
								data-src="@img/minimalism-projects/minimalism-projects-img-40.jpg">
						</picture>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="minimalism-projects__wrap">
					<div class="minimalism-projects__images">
						<picture>
							<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-41.webp">
							<img class="minimalism-projects__image lazyload" alt="Фото интерьера"
								data-src="@img/minimalism-projects/minimalism-projects-img-41.jpg">
						</picture>
						<div class="minimalism-projects__inner">

							<picture>
								<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-42.webp">
								<img class="minimalism-projects__image minimalism-projects__image--height lazyload" alt="Фото интерьера"
									data-src="@img/minimalism-projects/minimalism-projects-img-42.jpg">
							</picture>
						</div>
					</div>
					<div class="minimalism-projects__images">
						<picture>
							<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-43.webp">
							<img class="minimalism-projects__image minimalism-projects__image--height lazyload" alt="Фото интерьера"
								data-src="@img/minimalism-projects/minimalism-projects-img-43.jpg">
						</picture>
						<picture>
							<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-44.webp">
							<img class="minimalism-projects__image lazyload" alt="Фото интерьера"
								data-src="@img/minimalism-projects/minimalism-projects-img-44.jpg">
						</picture>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="minimalism-projects__wrap">
					<div class="minimalism-projects__images">
						<picture>
							<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-45.webp">
							<img class="minimalism-projects__image lazyload" alt="Фото интерьера"
								data-src="@img/minimalism-projects/minimalism-projects-img-45.jpg">
						</picture>
						<div class="minimalism-projects__inner">

							<picture>
								<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-46.webp">
								<img class="minimalism-projects__image minimalism-projects__image--height lazyload" alt="Фото интерьера"
									data-src="@img/minimalism-projects/minimalism-projects-img-46.jpg">
							</picture>
						</div>
					</div>
					<div class="minimalism-projects__images">
						<picture>
							<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-47.webp">
							<img class="minimalism-projects__image minimalism-projects__image--height lazyload" alt="Фото интерьера"
								data-src="@img/minimalism-projects/minimalism-projects-img-47.jpg">
						</picture>
						<picture>
							<source type="image/webp" data-srcset="@img/minimalism-projects/minimalism-projects-img-48.webp">
							<img class="minimalism-projects__image lazyload" alt="Фото интерьера"
								data-src="@img/minimalism-projects/minimalism-projects-img-48.jpg">
						</picture>
					</div>
				</div>
			</div>

		</div>
		<div class="swiper__pagination"></div>
	</div>
</div>