.section {
	padding: 60px 0;

	&-hero {
		padding-top: 40px;
	}
}

.title {
	@include adaptive-font(40, 20);
	margin: 0;
	margin-bottom: 50px;
	font-weight: 500;
	line-height: 115%;
	text-transform: uppercase;

	&--text-align {
		text-align: center;

		& span {
			display: block;
			text-align: start;

			@media (max-width: 768px) {
				display: inline-block;
			}
		}

		@media (max-width: 768px) {
			text-align: start;
		}
	}

	@media (min-width: 1250px) {
		font-size: 40px;
	}

	@media (max-width: 576px) {
		margin-bottom: 30px;
		line-height: 130%;
	}
}

.text {
	margin: 0;
	line-height: 125%;
}

.socials {
	min-width: 363px;

	&__item {
		border-top: 1px solid var(--light-gray-color);

		&:last-child {
			border-bottom: 1px solid var(--light-gray-color);
		}
	}

	&__link {
		@include adaptive-font(24, 14);
		display: inline-block;
		padding: 17px 41px;
		width: 100%;
		font-weight: 400;
		background-image: url('@img/icons/sprite.svg#arrow');
		background-position: right 41px top 50%;
		background-size: 15px;
		background-repeat: no-repeat;
		transition: opacity 0.25s;

		&:hover {
			opacity: 0.5;
		}

		@media (max-width: 768px) {
			padding: 18px 21px;
			background-position: right 21px top 50%;
		}

		@media (min-width: 1250px) {
			font-size: 24px;
		}
	}

	&--mobile {
		display: none;
		margin: 0 -21px;
		min-width: 100%;

		@media (max-width: 768px) {
			display: block;
		}
	}

	@media (max-width: 480px) {
		min-width: 100%;
	}
}

.link {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--gray-color);
	padding: 28px 78px;
	transition: opacity 0.25s;
	gap: 20px;

	&__svg {
		width: 15px;
		height: 15px;
	}

	&:hover {
		opacity: 0.5;
	}

	@media (max-width: 480px) {
		padding: 24px;
		width: 100%;
	}
}

.more {
	position: relative;
	padding-right: 30px;
	max-width: fit-content;
	text-transform: uppercase;
	background-image: url('@img/icons/sprite.svg#arrow');
	background-position: right 0 top 50%;
	background-size: 13px;
	background-repeat: no-repeat;
	transition: opacity 0.25s;

	&__text {
		border-bottom: 1px solid var(--dark-color);
	}

	&:hover {
		opacity: 0.5;
	}
}

.bid {
	max-width: 363px;

	&__title {
		@include adaptive-font(16, 14);
		margin: 0;
		margin-bottom: 30px;
		font-weight: 500;
		line-height: 125%;
		text-transform: uppercase;
	}

	&__text {
		margin-bottom: 16px;

		&--margin {
			margin-bottom: 50px;
		}

		@media (max-width: 576px) {
			max-width: 100%;
		}
	}

	&__img {
		margin-bottom: 20px;
	}
}

.table {
	&__item {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 40px;

		@media (max-width: 1050px) {
			flex-direction: column;
			gap: 15px;
			border-top: 1px solid var(--light-gray-color);

			&--border {
				border-bottom: 1px solid var(--light-gray-color);
			}
		}
	}

	&__subtitle {
		@include adaptive-font(16, 14);
		margin: 0;
		padding-top: 20px;
		padding-bottom: 40px;
		max-width: 250px;
		font-weight: 500;
		line-height: 125%;
		text-transform: uppercase;
		color: var(--dark-color);

		@media (max-width: 1050px) {
			padding-bottom: 0;
		}

		@media (min-width: 1250px) {
			font-size: 16px;
		}
	}

	&__content {
		display: flex;
		justify-content: space-between;
		border-top: 1px solid var(--light-gray-color);
		padding-top: 20px;
		padding-bottom: 40px;
		width: 100%;
		max-width: 830px;
		gap: 20px;

		&--column {
			flex-direction: column;
		}

		&--border {
			border-bottom: 1px solid var(--light-gray-color);
		}

		@media (max-width: 1050px) {
			border: none;
			padding-top: 0;
			padding-bottom: 30px;
		}

		@media (max-width: 480px) {
			flex-direction: column;
			align-items: start;
		}
	}

	&__text {
		max-width: 830px;

		&--width {
			max-width: 520px;
		}
	}

	&__link {
		height: fit-content;
	}

	&-list {
		&__item {
			&::before {
				content: '';
				position: relative;
				left: 0;
				top: -4px;
				display: inline-block;
				width: 16px;
				height: 1px;
				background-color: currentcolor;
			}

			&::after {
				content: ';';
				position: relative;
				right: 5px;
				bottom: 0;
			}

			&:last-child {
				&::after {
					content: '.';
				}
			}
		}
	}
}

.consultation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 830px;
	gap: 30px;

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 380px;
		text-align: center;

		&--text-align {
			align-items: start;
			text-align: start;

			@media (max-width: 1050px) {
				align-items: center;
				text-align: center;
			}

			@media (max-width: 480px) {
				align-items: start;
				text-align: start;
			}
		}
	}

	&__link {
		@media (max-width: 480px) {
			width: 100%;
		}
	}

	&__subtitle {
		margin: 0;
		margin-bottom: 12px;
		font-weight: 500;
		line-height: 125%;
		text-transform: uppercase;
		color: var(--dark-color);

		@media (max-width: 480px) {
			text-align: start;
		}
	}

	&__text {
		margin: 0;
		font-size: 12px;
		text-align: center;
		color: var(--dark-color);

		&--underline {
			text-decoration-line: underline;
		}

		@media (max-width: 480px) {
			text-align: start;
		}
	}

	@media (max-width: 1050px) {
		flex-direction: column-reverse;
		margin: 0 auto;
		padding: 0;
		width: 100%;
		max-width: 100%;
	}
}
