.section {
	padding: 60px 0;

	&-hero {
		padding-top: 40px;
	}
}

.title {
	@include adaptive-font(40, 20);
	margin: 0;
	margin-bottom: 50px;
	font-weight: 500;
	line-height: 115%;
	text-transform: uppercase;

	@media (min-width: 1250px) {
		font-size: 40px;
	}

	@media (max-width: 576px) {
		margin-bottom: 30px;
		line-height: 130%;
	}
}

.text {
	margin: 0;
	line-height: 20px;
}

.socials {
	min-width: 363px;

	&__item {
		border-top: 1px solid var(--light-gray-color);

		&:first-child {
			border-bottom: 1px solid var(--light-gray-color);
		}
	}

	&__link {
		@include adaptive-font(24, 14);
		display: inline-block;
		padding: 17px 41px;
		width: 100%;
		font-weight: 400;
		background-image: url('@img/icons/sprite.svg#arrow');
		background-position: right 41px top 50%;
		background-size: 15px;
		background-repeat: no-repeat;
		transition: opacity 0.25s;

		&:hover {
			opacity: 0.5;
		}
	}

	&--mobile {
		display: none;
		min-width: 100%;

		@media (max-width: 768px) {
			display: block;
		}
	}
}

.link {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--gray-color);
	padding: 28px 78px;
	transition: opacity 0.25s;

	&__text {
		margin-right: 20px;
	}

	&__svg {
		width: 15px;
		height: 15px;
	}

	&:hover {
		opacity: 0.5;
	}
}

.bid {
	max-width: 363px;

	&__text {
		margin-bottom: 16px;
		max-width: 240px;
	}

	&__img {
		margin-bottom: 20px;

		@media (max-width: 576px) {
			display: none;
		}
	}
}

.table {
	&__item {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 40px;

		@media (max-width: 1050px) {
			flex-direction: column;
			gap: 15px;
			border-top: 1px solid var(--light-gray-color);

			&--border {
				border-bottom: 1px solid var(--light-gray-color);
			}
		}
	}

	&__subtitle {
		margin: 0;
		padding-top: 20px;
		padding-bottom: 40px;
		font-weight: 500;
		line-height: 20px;
		text-transform: uppercase;
		color: var(--dark-color);

		@media (max-width: 1050px) {
			padding-bottom: 0;
		}
	}

	&__text {
		border-top: 1px solid var(--light-gray-color);
		padding-top: 20px;
		padding-bottom: 40px;
		max-width: 830px;

		&--border {
			border-bottom: 1px solid var(--light-gray-color);
		}

		@media (max-width: 1050px) {
			border: none;
			padding-top: 0;
			padding-bottom: 30px;
		}
	}
}
