// * Максимальная ширина макета
$container-width: 1280;

:root {
	// * Colors
	--dark-color: #090909;
	--light-color: #fffffe;
	--bg-color: #e27d5f;
	--accent-color: #9fd4ff;
	--gray-color: #848484;
	--light-gray-color: #c6c6c6;
	--error-color: #ea4335;
}
