.header {
	width: 100%;
	background-color: var(--light-color);

	&__container {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		padding: 42px 15px;
		min-height: 43px;
		max-width: $container-width + px;
	}

	&__logo {
		z-index: 5;
		display: block;
	}

	&__link {
		&--phone {
			@include adaptive-font(24, 20);
			display: block;
			height: fit-content;
			font-weight: 400;
			@media (max-width: 992px) {
				font-size: 16px;
			}
			@media (max-width: 768px) {
				display: none;
			}
		}
	}

	&.fixed {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 10;
	}
}

.logo__img {
	height: auto;
	max-width: 200px;
	fill: var(--light-color);
	@media (max-width: 992px) {
		width: 150px;
	}
	@media (max-width: 320px) {
		width: 100px;
	}
}

.menu {
	&__burger {
		display: none;
	}

	&__item {
		margin-right: 50px;

		&:last-child {
			margin: 0;
		}

		@media (max-width: 992px) {
			margin-right: 15px;
		}
	}

	&__link {
		@include adaptive-font(16, 14);
		position: relative;
		font-weight: 400;
		color: var(--gray-color);

		&::after {
			content: '';
			position: absolute;
			left: 50%;
			bottom: -3px;
			width: 0;
			height: 2px;
			background-color: currentcolor;
			opacity: 0;
			visibility: hidden;
			transform: translateX(-50%);
			transition: width 0.5s;
		}

		&:hover {
			&::after {
				width: 100%;
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

@media (min-width: 767px) {
	.menu__list {
		display: flex;
		align-items: center;
	}

	.menu__item {
		padding: 0;
	}
}

@media (max-width: 767px) {
	.menu__burger {
		position: relative;
		z-index: 15;
		display: block;
		width: 58px;
		height: 20px;
		cursor: pointer;
	}

	.burger {
		&__line,
		&::before,
		&::after {
			position: absolute;
			right: 0;
			width: 100%;
			height: 10%;
			background-color: var(--dark-color);
			transition: all 0.3s ease 0s;
		}

		&::before,
		&::after {
			content: '';
		}

		&::before {
			top: 0;
			width: 42px;
		}

		&::after {
			bottom: 0;
			width: 58px;
		}

		&__line {
			width: 50px;
		}

		& span {
			top: 50%;
			transform: scale(1) translate(0, -50%);
		}

		&.active span {
			transform: scale(0) translate(0, -50%);
		}

		&.active::before {
			top: 50%;
			transform: rotate(-45deg) translate(0, -50%);
		}

		&.active::after {
			bottom: 50%;
			transform: rotate(45deg) translate(0, 50%);
		}
	}

	.menu__body {
		position: fixed;
		left: -100%;
		top: 0;
		z-index: 10;
		overflow: auto;
		padding: 100px 30px 30px;
		width: 100%;
		height: 100%;
		background-color: var(--light-color);
		transition: left 0.3s ease 0s;

		&.active {
			left: 0;
		}

		// * Стили для плашки фиксированного меню (закомментировать если не нужна фиксипрованная шапка)

		// &::before{
		//   z-index: 15;
		//   content: "";
		//   position: fixed;
		//   width: 100%;
		//   top: 0;
		//   left: 0;
		//   height: 70px;
		//   background-color: #b4b4b4;
	}

	.menu__item {
		flex-wrap: wrap;
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.menu__link {
		@include adaptive-font(20, 16);
	}
}
