.about {
	&__content {
		margin-bottom: 50px;
		margin-left: auto;
		max-width: 870px;
	}

	&__title {
		max-width: 720px;
	}

	&__text {
		max-width: 485px;
	}

	&__img {
		margin-bottom: 50px;

		& img {
			@media (max-width: 768px) {
				height: 400px;
			}
		}
	}

	&__bottom {
		display: flex;
		flex-wrap: wrap;
		align-items: end;
		justify-content: center;
		margin-left: auto;
		width: fit-content;
		gap: 143px;

		@media (max-width: 768px) {
			width: 100%;
		}
	}

	&__socials {
		max-width: 363px;
	}
}

.about-socials {
	&__text {
		margin-bottom: 30px;
	}
}
