.assembly-services {
	&__content {
		margin-bottom: 50px;
		margin-left: auto;
		max-width: 870px;

		&--content {
			margin-bottom: 0;
		}
	}

	&__title {
		max-width: 870px;
	}

	&__text {
		margin-bottom: 30px;
		max-width: 485px;

		&:last-child {
			margin: 0;
		}

		&--weight {
			font-weight: 500;
			text-transform: uppercase;
		}
	}

	&__img {
		margin-bottom: 50px;

		& img {
			@media (max-width: 768px) {
				height: 400px;
			}
		}
	}

	&__subtitle {
		@include adaptive-font(40, 20);
		margin: 0;
		margin-bottom: 50px;
		margin-left: auto;
		max-width: 870px;
		font-weight: 500;
		line-height: 125%;
		text-transform: uppercase;

		@media (min-width: 1250px) {
			font-size: 40px;
		}
	}

	&__consultation {
		margin-left: auto;
		max-width: 870px;
	}
}
