.benefit {
	&__table {
		margin-bottom: 50px;

		@media (max-width: 480px) {
			margin-bottom: 60px;
		}
	}

	&__consultation {
		margin-left: auto;
		padding-right: 40px;

		@media (max-width: 1050px) {
			padding: 0;
		}
	}

	&__link {
		max-width: 360px;
	}
}
