.composition-estimate {
	&__title {
		max-width: 870px;
	}

	&__wrap {
		display: flex;
		flex-wrap: wrap;
		align-items: end;
		justify-content: space-between;
		gap: 15px;

		@media (max-width: 480px) {
			gap: 30px;
		}
	}

	&__left {
		& img {
			height: 450px;
		}

		@media (max-width: 1050px) {
			margin: 0 auto;
		}
	}

	&__right {
		max-width: 365px;
		@media (max-width: 1050px) {
			max-width: 100%;
		}
		@media (max-width: 480px) {
			max-width: fit-content;
		}
	}
}
