.delegation {
	&__wrap {
		margin-bottom: 120px;
		margin-left: auto;
		max-width: 870px;

		@media (max-width: 768px) {
			margin-bottom: 60px;
		}
	}

	&__table {
		margin-bottom: 50px;

		@media (max-width: 768px) {
			margin-bottom: 60px;
		}
	}

	&__text {
		margin-bottom: 30px;
		font-weight: 500;
		text-transform: uppercase;
	}
}
