.estimate {
	margin-left: auto;
	max-width: 870px;

	&__text {
		margin-bottom: 30px;
		max-width: 505px;

		&:last-child {
			margin-bottom: 50px;
		}

		@media (max-width: 1050px) {
			max-width: 100%;
		}

		@media (max-width: 480px) {
			margin-bottom: 20px;
		}
	}

	&__consultation {
		@media (max-width: 480px) {
			align-items: start;
		}
	}

	@media (max-width: 1050px) {
		margin: 0;
		width: 100%;
		max-width: 100%;
	}
}
