.politikal {
	&__title {
		@include adaptive-font(57, 20);
		margin: 0;
		margin-bottom: 50px;
		font-weight: 500;
		line-height: 115%;
		text-align: center;
		text-transform: uppercase;
		color: var(--dark-color);

		& span {
			display: block;
			text-align: start;

			@media (max-width: 768px) {
				display: inline-block;
			}
		}

		@media (min-width: 1250px) {
			font-size: 57px;
		}

		@media (max-width: 768px) {
			text-align: start;
		}
	}
}
