.quiz {
	&__title {
		text-align: center;

		& span {
			display: block;
			text-align: start;

			@media (max-width: 768px) {
				display: inline-block;
			}
		}

		@media (max-width: 768px) {
			text-align: start;
		}
	}

	&__form {
		margin: 0 auto;
		border: 1px solid var(--light-gray-color);
		padding: 70px;
		max-width: 500px;

		@media (max-width: 768px) {
			padding: 41px 27px;
		}
	}

	&__text {
		margin: 0;
		margin-bottom: 24px;
		max-width: 300px;
	}
}

.quiz-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 42px;
	gap: 15px;

	&__title {
		margin: 0;
		font-weight: 500;
		line-height: 125%;
		text-transform: uppercase;
		color: var(--dark-color);
	}

	&__num {
		font-weight: 400;
		text-transform: uppercase;
		color: var(--dark-color);

		&--gray {
			color: var(--light-gray-color);
		}
	}

	&--margin {
		margin-bottom: 14px;
	}
}

.quiz-question {
	&__answers {
		display: flex;
		flex-direction: column;
		gap: 22px;
		margin-bottom: 46px;

		&--margin {
			margin-bottom: 0;
		}
	}

	&__label {
		display: flex;
		align-items: center;
		gap: 10px;
		width: 100%;
		cursor: pointer;
	}

	&__answer {
		line-height: 125%;
		color: var(--dark-color);
	}

	&__radio {
		&-real {
			position: absolute;
			z-index: -1;
			width: 0;
			height: 0;
			opacity: 0;
		}

		&-fake {
			position: relative;
			display: inline-block;
			flex-shrink: 0;
			border: 1px solid var(--light-gray-color);
			border-radius: 50%;
			width: 16px;
			height: 16px;
			background-color: var(--light-color);
			cursor: pointer;

			&::before {
				content: '';
				position: absolute;
				left: 50%;
				top: 50%;
				border-radius: 50%;
				width: 8px;
				height: 8px;
				background-color: var(--gray-color);
				transform: translate(-50%, -50%) scale(0);
				transition: 0.2s ease-in;
			}

			.quiz-question__radio-real:checked + &::before {
				transform: translate(-50%, -50%) scale(1);
			}
		}
	}

	&__checkbox {
		&-real {
			position: absolute;
			z-index: -1;
			width: 0;
			height: 0;
			opacity: 0;
		}

		&-fake {
			position: relative;
			flex-shrink: 0;
			border: 2px solid var(--gray-color);
			width: 16px;
			height: 16px;
			background-image: url('@img/icons/sprite.svg#check-mark');
			background-position: center;
			background-size: 0;
			background-repeat: no-repeat;
			transition: background-size 0.2s;
			cursor: pointer;
		}
	}

	&__btns {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__btn {
		display: block;
		padding-right: 30px;
		line-height: 125%;
		text-transform: uppercase;
		color: var(--dark-color);
		background-image: url('@img/icons/sprite.svg#arrow');
		background-position: right 0 top 50%;
		background-size: 13px;
		background-repeat: no-repeat;

		span {
			position: relative;
			z-index: -1;
			border-bottom: 1px solid currentcolor;
		}

		&--margin {
			margin-left: auto;
		}

		&--prev {
			padding-right: 0;
			padding-left: 30px;
			color: var(--light-gray-color);
			background-image: url('@img/icons/sprite.svg#arrow-back');
			background-position: left 0 top 50%;
		}
	}

	&__policy {
		margin: 0;
		font-size: 12px;
		color: var(--dark-color);
	}

	&__link {
		border-bottom: 1px solid currentcolor;
	}

	&__send {
		padding: 28px 10px;
		width: 100%;
		text-transform: uppercase;
	}

	& &__label input:checked ~ &__checkbox-fake {
		background-size: 11px;
	}
}

input[type='text'] {
	all: unset;
	border-bottom: 1px solid var(--light-gray-color);
	padding: 5px 0;
	width: 100%;
	cursor: text;
}
